.items {

    padding: 14px;
    border-right: solid black 1px;
}

.subTite {

    font-weight: bold;
    font-size: 2rem;
}

.front-end {
    grid-column: 1;
}


.back-end {
    grid-row: 2;
}

.genSkills {
    grid-row: 3;
}


.styling {
    grid-area: 1 / 2;
}

.render {
    grid-area: 1/ 3;
}

.scriptS {
    grid-area: 2/ 2;

}

.databaseS {
    grid-area: 2/ 3;
}

.packageS {
    grid-area: 2/4
}

.position {
    justify-content: center;
    text-align: center;
}
.notAvailable{
    height: 800px;
    height: 800px;


}