body {
    height: 100%;
    background: rgba(38, 49, 61, 0.6);
}
.Container{
    height: 100%;
    width: 100%;
}
.divSizing{
    margin: 0;
        max-width: 100%;

}
.StRow{
    height: 200px;
}
.middleContent{
    height: 200px;
    padding: auto;

}
.circle{
    height: calc(100vh - 2em);
    width:  calc(100vw - 2em );
    background-color: #555;
    border-radius: 50%;
    max-height: 150px;
    max-width: 150px;
  }
  .circleContainer{

    max-height: 150px;
    max-width: 150px;
    height: 100%;
    width: 100%;
  }
  #chevron {
    position: relative;
    text-align: center;
    padding: 12px;
    margin-bottom: 6px;
    height: 60px;
    width: 200px;
  }
  #chevron:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 51%;
    background: red;
    transform: skew(0deg, 38deg);
  }
  #chevron:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    background: red;
    transform: skew(0deg, -38deg);
  }
.gridSystem{
  display: inline-grid;
}

.items{

  height: 100px;
  width: 100px;
}