.gridSystem {
    display: inline-grid;
    grid-row-gap: 0px;
    overflow: scroll;
    height: 100%;
    padding: 0;
    overflow-y: hidden;
    overflow-x: hidden;
  }
  
  .items {
    height: 100%;
    width: 100%;
    border: solid;
    grid-gap: 0;
    grid-row-gap: 0px;
  }

  .page{
    height: 100%;
    width: 100%;
  }

  .selectedPage{
    opacity: 1;
    z-index: 1;

  }
  .unselectedPage{
    z-index: -1;
    opacity: 0;

  }

  .pageInfo{

display: none;
  }